{% extends 'CelcatManagementAppBundle::layout.html.twig' %}

{% block titre %}
    <h1>Liste des modifications calendrier</h1>
{% endblock %}

{% block body -%}

    <div class="table-responsive">
        <table class="records_list  table table-striped table-hover">
            <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Titre</th>
                    <th>Prof.</th>
                    <th>Groupes</th>
                    <th>Dates</th>
                    <th>Heures</th>
                    <th><i class="glyphicon glyphicon-resize-horizontal"></i></th>
                    <th>Titre</th>
                    <th>Prof.</th>
                    <th>Groupes</th>
                    <th>Dates</th>
                    <th>Heures</th>
                    <th>Annulé</th>
                    <th>Validé</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.user }}</td>
                        <td>{{ entity.firstEvent.eventTitre }}</td>
                        <td>{{ entity.firstEvent.professors|join('; ') }}</td>
                        <td>{{ entity.firstEvent.groupes|join(',') }}</td>
                        <td>{{ entity.firstEvent.startDateTimeInitial|date('d-m-Y') }}</td>
                        <td>{{ entity.firstEvent.startDateTimeInitial|date('H:i:s') }} - {{ entity.firstEvent.endDateTimeInitial|date('H:i:s') }}</td>
                        <td></td>
                        <td>{{ entity.secondEvent.eventTitre|default }}</td>
                        <td>{{ entity.secondEvent.professors|default|join('; ') }}</td>
                        <td>{{ entity.secondEvent.groupes|default|join(',') }}</td>
                        <td>{{ entity.secondEvent?entity.secondEvent.startDateTimeInitial|date('d-m-Y'):'' }}</td>
                        <td>{{ entity.secondEvent?entity.secondEvent.startDateTimeInitial|date('H:i:s'):'' }} - {{ entity.secondEvent?entity.secondEvent.endDateTimeInitial|date('H:i:s'):'' }}</td>
                        <td>{{ entity.canceled?'Oui':'Non' }}</td>
                        <td>{{ entity.validated?'Oui':'Non' }}</td>
                        <td>
                            {% if not entity.validated and not entity.canceled %}
                                {% include 'Action/action-supprimer.html.twig' with { 'href' :  path('celcat_management_app_schedulemodification_delete', { 'id': entity.id }) } %}
                            {% endif  %}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i>Date final :</i></td>
                        <td>{{ entity.firstEvent.startDateTimeFinal|date('d-m-Y') }}</td>
                        <td>{{ entity.firstEvent.startDateTimeFinal|date('H:i:s') }} - {{ entity.firstEvent.endDateTimeFinal|date('H:i:s') }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i>Date final :</i></td>
                        <td>{{ entity.secondEvent?entity.secondEvent.startDateTimeFinal|date('d-m-Y'):'' }}</td>
                        <td>{{ entity.secondEvent?entity.secondEvent.startDateTimeFinal|date('H:i:s'):'' }} - {{ entity.secondEvent?entity.secondEvent.endDateTimeFinal|date('H:i:s'):'' }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
