{% extends 'CelcatManagementAppBundle::layout.html.twig' %}
{% block titre %}
    <h1>Profil</h1>
{% endblock %}
{% block body %}
    <div class="record_actions">
        <span>
            {% include 'Action/action-modifier.html.twig' with { 'href' :  path('celcat_management_app_login_edit') } %}
        </span>
    </div>
    <div class="onglet-container form-horizontal" style="margin-bottom: 10px;">
        <ul>
            <li><a href="#profil_principal">Principal</a></li>
            <li><a href="#profil_calendriers">Calendriers</a></li>
        </ul>
        <div id="profil_principal" class="table-responsive">
            <table class="record_properties table table-striped table-hover">
                <tbody>
                    <tr>
                        <th>{{ 'profile.show.identifier'|trans }}</th>
                        <td>{{ user.identifier }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.fullname'|trans }}</th>
                        <td>{{ user.fullname }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.username'|trans }}</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.mail'|trans }}</th>
                        <td>{{ user.mail }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.group'|trans }}</th>
                        <td>{{ user.group }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'profile.show.groupname'|trans }}</th>
                        <td>{{ user.groupname }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div id="profil_calendriers" class="table-responsive">
            <table class="record_properties table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nom fichier</th>
                        <th>Nom</th>
                        <th>Commentaire</th>
                    </tr>
                </thead>
                    
                <tbody>
                    {% for userCalendar in user.calendars %} 
                        <tr>
                            
                            <td>{{ groups[userCalendar.calendarFile] }}</td>
                            <td>{{ userCalendar.calendarName }}</td>
                            <td>{{ userCalendar.calendarComment }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(function () {
            $(".onglet-container").tabs();
        });
    </script>
{% endblock %}